@page "/sqlmanager"
@namespace Sicem_Blazor.Areas.SqlManager.Views
@using Sicem_Blazor.SqlManager.Views.Partials;

<div class="content-layout sqlmanager-page">

    <div class="title-page text-uppercase" style="grid-area: header;">Administrador SQL</div>

    @* Area Opciones *@
    <div class="grid border rounded bg-white px-2 d-flex align-items-center" style="grid-area: actions;">
        @* Some Actions *@
    </div>
    
    @* Grid Panel *@
    <div class="border rounded bg-white p-2" style="grid-area: details;">
        <QueryPanel Query="@selectedQuery" Enlaces="enlacesDisponibles" />
    </div>

</div>

<BusyIndicator Busy="@cargando" ContentText="Cargando datos..." />