@namespace Sicem_Blazor.SeguimientoCobros.Views
@page "/seguimientoCobros"

<div id="map" style="height:100%;width:100%; z-index:5;"></div>

<style>
    .text-labels
    {
        font-size: 1.4rem;
        font-weight:bold;
        text-align:center;
        line-height: 16px;
    }
</style>