@namespace Sicem_Blazor.Boletines.Views.Partials
@using Sicem_Blazor.Boletines.Models;

@if(Mensaje.EsArchivo == true)
{
    <div class="d-flex flex-column h-100 border rounded shadow-sm p-4 mx-2 overflow-hidden bg-white" style="max-width: 12rem;">
        <figure class="mb-0 px-2">
            <div class="mail-attatched__imagemb-3">
                <svg class="ml-3" xmlns="http://www.w3.org/2000/svg" width="auto" height="72" viewBox="0 0 24 24"><path fill="#333333" d="M13 1H3v22h10.256A4.5 4.5 0 0 1 13 21.5v-6a4.5 4.5 0 0 1 8-2.829V9h-8z"/><path fill="#333333" d="M21 7v-.414L15.414 1H15v6zm-3.5 6a2.5 2.5 0 0 0-2.5 2.5V20a4 4 0 0 0 8 0v-4.5h-2V20a2 2 0 1 1-4 0v-4.5a.5.5 0 0 1 1 0V20h2v-4.5a2.5 2.5 0 0 0-2.5-2.5"/></svg>
            </div>
            <figcaption class="d-flex flex-column align-items-center mt-2">
                <h6 class="file-name text-truncate">@Mensaje.FileName</h6>
                <h6 class="d-block text-truncate">@Mensaje.MimmeType</h6>
                <h6 class="d-block">@GetHumanReadableSize(Mensaje.FileSize)</h6>
            </figcaption>
        </figure>
    </div>
}

@code
{
    [Parameter]
    public IBoletinMensaje Mensaje { get; set; }

    public string GetHumanReadableSize(double fileSize)
    {
        string[] sizes = { "B", "KB", "MB", "GB", "TB" };
        double len = fileSize;
        int order = 0;

        while (len >= 1024 && order < sizes.Length - 1)
        {
            order++;
            len /= 1024;
        }

        return $"{len:0.##} {sizes[order]}";
    }
}