@namespace Sicem_Blazor.Boletines.Views.Partials
<div class="w-100 p-4" style="font-size:1.5rem;">
    <div class="message-body" style="max-width:1000px; margin:0 auto;">

        <div class="mdc__body mt-2">
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ulabore etdolore magna aliquyam erat, sed diam voluptua. Atvero eos etaccusam justo duo dolores et
                ea rebum. Stet clita kasd gubergren nosea takimata sanctus est Lorem ipsum dolor amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua.
            </p>
        </div>

        <div class="mdc__footer p-2 d-flex flex-column">
            <div>
                <div style="font-size:1.75rem; font-weight:medium;">Archivos Adjuntos:</div>
            </div>

            <div class="d-flex">
                <div class="mail-attatched__item d-flex flex-column h-100 border rounded p-4">
                    <figure class="mb-0 px-2">
                        <div class="mail-attatched__imagemb-3">
                            <img src="/img/pdf2x.png" alt="attatched Image">
                        </div>
                        <figcaption>
                            <h6 class="file-name">Documento1.pdf</h6>
                            <span class="file-size">256.5 KB</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>