@page "/Boletines"
@namespace Sicem_Blazor.Boletines.Views
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Charts
@using Sicem_Blazor.Models.PagoLinea
@using Sicem_Blazor.Boletines.Views.Partials

<div class="layoutPage">

    <div class="title-page" style="grid-area: 1/1/2/3;">Boletines</div>

    @* ****** Acciones ****** *@
    <div class="border rounded bg-white px-2 d-flex align-items-center" style="grid-area: 2/1/3/3;">
        <button class="btn btn-success px-4 py-3" @onclick="NewMessageClick">
            <i class="fa fa-plus mr-2" />
            Nuevo Boletin
        </button>
    </div>

    <div class="border rounded bg-white px-2 d-flex flex-column align-items-center" style="grid-area: 3/1/4/2;">
        <div class="w-100 p-2">
            <input type="seach" class="w-100 px-2" style="height:3rem;" placeholder="Buscar" />
        </div>

        <div class="d-flex flex-column h-100 w-100 overflow-auto">
            @for(int i = 1; i<=33; i++ )
            {
                <MessageGroupListItem Title="@($"Boletin {i}")" />
            }
        </div>

    </div>

    @* ****** Detalle Mensaje ****** *@
    <div class="border rounded bg-white overflow-auto" style="grid-area: 3/2/4/3;">
        <div class="d-flex flex-column bg-white shadow p-4">
            <div class="d-flex align-items-center justify-content-between">
                <h2>Titulo del Boletin</h2>
                <div class="d-flex align-items-start p-2">
                    <span class="date-meta">Jan 2, 2020, 5:22 PM</span>
                </div>
            </div>
            <div class="mdc__head d-flex justify-content-between mt-2" style="font-size:1.2rem">
                <div class="mdc__author media d-flex align-items-center">
                    <div class="author-info">
                        <div class="notification-info-btn">
                            <ul class="notification-info">
                                <li>
                                    <span class="mail-info__label">Remitente:</span>
                                    <span class="mail-info__text">8341031313</span>
                                </li>
                                <li>
                                    <span class="mail-info__label">Exito:</span>
                                    <span class="mail-info__text">
                                        <span class="badge badge-success mx-2" style="font-size: 1rem;">
                                            5 Enviados
                                        </span>
                                    </span>
                                </li>
                                <li>
                                    <span class="mail-info__label">Fallidos:</span>
                                    <span class="mail-info__text">
                                        <span class="badge badge-danger mx-2" style="font-size: 1rem;">
                                            2 Fallidos
                                        </span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex flex-column bg-white shadow p-4">
            <div class="pt-4 px-2">
                <h2>Mensaje</h2>
            </div>
            <ResumeMessage />
        </div>

        <div class="d-flex flex-column bg-white shadow p-4">
            <div class="pt-4 px-2">
                <h2>Destinatarios</h2>
            </div>
            <div>
                <div class="table-responsive">
                    <table class="table table-bordered table-social">
                        <thead>
                            <tr>
                                <td>Destinatario</td>
                                <td>Fecha</td>
                                <td>Hora</td>
                                <td>Estatus</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @for(int i = 1; i<=5; i++ )
                            {
                                <tr>
                                    <td>+52 8341031313</td>
                                    <td>2025/02/06</td>
                                    <td>22:00:58</td>
                                    <td>
                                        <span class="badge badge-success mx-2">Enviado</span>
                                    </td>
                                    <td>
                                        <button>A1</button>
                                    </td>
                                </tr>
                            }
                            <tr>
                                    <td>+52 8343301313</td>
                                    <td>2025/02/06</td>
                                    <td>22:02:24</td>
                                    <td>
                                        <span class="badge badge-danger mx-2">Fallido</span>
                                    </td>
                                    <td>
                                        <button>A1</button>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        

    </div>

    <div style="grid-template: 5/1/6/3;"></div>
</div>


@* ****** Dialogos y ventanas secundarias ****** *@
<BusyIndicator Busy="@busyDialog" ContentText="Cargando datos...." />
<style>
    .layoutPage
    {
        display: grid;
        grid-template-columns: 40rem calc(100% - 40rem);
        grid-template-rows: 3rem 5rem calc(100% - 8rem);
        grid-gap: 0.5rem;
        width: 100%;
        height: 100%;
        padding-bottom: 1rem;
    }
</style>