@page "/"
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime
@inject SicemService sicemService

<div class="index-conteiner" style="height:100vh; width: 100vw; overflow: hidden;">
</div>

<style>

    #contentPage
    {
        background-color: #0000 !important;
    }
    .index-conteiner
    {
        opacity: 0;
        background-image: url("/img/indexImg.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
    }
    @@media (max-width: 580px) {
        .index-conteiner{
            width: 90%;
        }
    }
</style>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await JSRuntime.InvokeVoidAsync("fadeIn", ".index-conteiner", 600);
    }

}