@page "/"
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime
@inject SicemService sicemService

<div style="height:100vh; width: 100vw; overflow: hidden;">
    <img id="imglogo" style="height:100%; width: 100%; opacity: 0;" src="/img/fondo-caev.jpeg" />
</div>

<style>
    body {
        background-color: white;
        background-image: url("./img/textures/texture.png");
        background-position: center;
        background-repeat: repeat;

    }
    .logoIndex{
        height: 70%;
    }
    @@media (max-width: 580px) {
        .logoIndex{
            width: 90%;
            
        }
    }
</style>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await JSRuntime.InvokeVoidAsync("fadeIn", "#imglogo", 600);
    }

}