<div class="line line-1">
    <div class="wave wave1" style="background-image:url('img/wave/1.png');" />
</div>
<div class="line line-2">
    <div class="wave wave2" style="background-image:url('img/wave/2.png');" />
</div>
<div class="line line-3">
    <div class="wave wave3" style="background-image:url('img/wave/3.png');" />
</div>